@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root{
    --background-main-color: #0f2238;
    --background-secondary-color: #fff;
    --background-highlight-color: #ffe764;
    --primary-color: #0f2238;
    --secondary-color: #6dd6dc;
    --tertiary-color: #fff;
    --low-primary-color: #3b455a;
    --primary-font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    --secondary-font-family: "Source Serif 4", serif;
    --greyish-bg-color: #657d97;
    --yellowish-bg-color: #dfcc83;
    --bluish-bg-color: #33838b;
}

/* ANIMATIONS */

.bounce:hover, .bounce:focus{
    animation: bounce 1000ms cubic-bezier(.28,.84,.42,1) infinite;
}

.horizontal-bounce:hover, .horizontal-bounce:focus, button:has(img.horizontal-bounce):hover img, button:has(img.horizontal-bounce):focus img{
    animation: horizontal-bounce 1000ms cubic-bezier(.28,.84,.42,1) infinite;
}

@keyframes beat{
    0%, 90% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    45% {
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1) translateY(0);
    }
    10% {
        transform: scale(1.1, .9) translateY(0);
    }
    30% {
        transform: scale(.9, 1.1) translateY(-0.5em);
    }
    50% {
        transform: scale(1.05, .95) translateY(0);
    }
    57% {
        transform: scale(1) translateY(-0.125em);
    }
    64% {
        transform: scale(1) translateY(0);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}

@keyframes horizontal-bounce {
    0% {
        transform: scale(1) translateX(0);
    }
    10% {
        transform: scale(.9, 1.1) translateX(0);
    }
    30% {
        transform: scale(1.1, .9) translateX(-0.5em);
    }
    50% {
        transform: scale(.95, 1.05) translateX(0);
    }
    57% {
        transform: scale(1) translateX(-0.125em);
    }
    64% {
        transform: scale(1) translateX(0);
    }
    100% {
        transform: scale(1) translateX(0);
    }
}

body{
    background-color: var(--background-main-color);
    font-size: 20px;
    font-family: var(--primary-font-family);
    scroll-behavior: smooth;
}

.body-container{
    overflow-x: hidden;
    overflow-x: clip;
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

a:hover, a:focus{
    opacity: 0.8;
}

/* COMPONENTS */

/** TOP-BAND **/

.header-band{
    background-color: var(--background-highlight-color);
}

.arrow-right, .mail-icon{
    width: 20px;
}

.need-link{
    border-bottom: 1px solid var(--primary-color);
    font-family: var(--secondary-font-family);
    font-style: italic;
}

.header-band:hover .arrow-right, .header-band:focus .arrow-right{
    animation: horizontal-bounce 1000ms cubic-bezier(.28,.84,.42,1) infinite;
}

.header-band .row{
    margin: 0 auto;
    padding: 10px 0;
    max-width: 1320px;
}

/** NAVBAR **/

.navbar-brand img{
    max-width: 187px;
}

.navbar-toggler{
    border-color: transparent;
    border-radius: 0;
    color: var(--tertiary-color);
}

a.nav-link, a.nav-link.active{
    color: var(--tertiary-color);
}

a.nav-link span{
    color: var(--secondary-color);
}

a.nav-icon img{
    width: 28px
}

/** FOOTER **/

footer{
    background-color: var(--background-highlight-color);
    color: var(--primary-color);
    padding: 75px 0;
}
footer .container{
    padding: 0;
}

footer h3{
    font-size: 30px;
    font-weight: 600;  
}

footer h3 span{
    font-family: var(--secondary-font-family);
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
}

footer ul{
    padding: 0;
}

footer li{
    list-style: none;
    padding: 5px 0;
}

footer li a{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}    

.footer-logo img{
    width: 165px;
}

.footer-logo p{
    font-size: 16px;
    max-width: 30ch;
}

.footer-logo_socials a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-main-color);
    border-radius: 50%;
    color: var(--background-highlight-color);
    font-size: 16px;
    margin-right: 10px;
    text-decoration: none;
    height: 30px;
    width: 30px;
}

.footer-arrow img{
    margin: 20px 0;
    height: 50px;
    width: 50px;
}

/** BUTTONS **/

button:hover, button:focus{
    opacity: 0.8;
}

.arrow-btn{
    position: relative;
    background-color: transparent;
    border: none;
    color: var(--secondary-color);
    font-weight: 500;
    padding: 10px;
}

.arrow-btn:hover, .arrow-btn:focus{
    text-shadow: 0 0 20px rgba(109, 214, 220, 0.8);
}

.arrow-btn img{
    width: 35px;
}

.frame-btn{
    display: block;
    background-color: var(--background-main-color);
    border: 1px solid var(--secondary-color);
    box-shadow: inset 0 0 20px rgba(109, 214, 220, 0);
    color: var(--secondary-color);
    font-family: var(--primary-font-family); 
    font-weight: 500;
    outline: 1px solid;
    outline-color: rgba(109, 214, 220, 0.5);
    outline-offset: 0px;
    padding: 10px 50px;  
    text-align: center;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    min-width: 200px;
}
  
.frame-btn:hover, .frame-btn:focus {
    box-shadow: inset 0 0 20px rgba(109, 214, 220, 0.5), 0 0 20px rgba(109, 214, 220, 0.2);
    outline-color: rgba(109, 214, 220, 0);
    outline-offset: 15px;
}

.chevron-btn{
    background: none;
    border: none;
    color: var(--tertiary-color);
    font-family: var(--secondary-font-family);
    font-size: 54px;
    font-weight: bolder;
    padding: 0;
    text-decoration: none;
    z-index: 1;
}

.detail-arrow{
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-highlight-color);
    z-index: 10;
    height: 40px;
    width: 40px;
}

.detail-arrow img{
    width: 16px;
}

.detail-arrow a{
    color: var(--primary-color);
}

/**BREADCRUMB**/

.fidal-breadcrumb{
    border-bottom: 1px rgb(255 255 255 / 10%) solid;
    border-top: 1px rgb(255 255 255 / 10%) solid;
    padding: 10px 0;
}

.fidal-breadcrumb ol.breadcrumb{
    margin-bottom: 0;
}

.fidal-breadcrumb .breadcrumb-item a{
    color: var(--tertiary-color);
    font-family: var(--secondary-font-family);
    font-size: 18px;
    font-weight: 200;
    opacity: 0.8;
}

.fidal-breadcrumb .breadcrumb-item a:hover, .fidal-breadcrumb .breadcrumb-item a:focus{
    font-weight: 300;
    opacity: 1;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "/";
    color: var(--secondary-color);
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);  
}

.fidal-breadcrumb .breadcrumb-item.active a{
    color: var(--secondary-color);
    font-family: var(--primary-font-family);
    font-weight: 500;
}

/* HP */

/** HEADER **/

#home-page header{
    background: linear-gradient(180deg, rgba(15, 34, 56, 1), rgba(15, 34, 56, 0) 22%),
        linear-gradient(90deg, rgba(15, 34, 56, 1), rgba(15, 34, 56, 0) 68%),
        linear-gradient(360deg, rgba(15, 34, 56, 1), rgba(15, 34, 56, 0) 28%), 
        url(./img/architecture-bg.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
}

/*** HERO ***/

.hero{
    color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 66vh;
    min-height: 66svh;
}

.hero h1{
    font-family: var(--secondary-font-family);
    font-size: 100px;
    font-weight: 320;
}

.hero h1 span{
    font-style: italic;
}

.hero h2{
    font-size: 50px;
}

.hero h2 span{
    color: var(--secondary-color);
}

.hero p{
    font-weight: 300;
    max-width: 330px;
}

/** MAIN **/

/*main{
    width: 100%;
}*/

/*** CARDS ***/

.learning-cards{
    background-color: var(--background-main-color);
    padding: 100px 0;
}

.learning-cards .container{
    padding: 50px 0;
}

.learning-cards_title{
    font-size: 65px;
    color: var(--secondary-color);
}

.learning-cards_title span{
    font-family: var(--secondary-font-family);
    font-style: italic;
    font-weight: 320;
}

.learning-cards .carousel-item{
    transition: transform 1200ms ease 200ms;
    
}

.learning-cards .carousel-item.active{
    z-index: 0;
}

.learning-cards .carousel-item.active, .learning-cards .carousel-item-start, .learning-cards .carousel-item-end, .learning-cards .carousel-item-prev, .learning-cards .carousel-item-next{
    display: flex;
}

.learning-cards .carousel-inner{
    overflow: visible;
}

#carouselNewCardsControls, #carouselTopCardsControls{
    clip-path: rect(-10% 200% 200% -10%);
    width: fit-content;
    mask: linear-gradient(-90deg, transparent, white 20%);
    padding-left: 10px;
    margin: 30px 0 30px 0;
}

.learning-cards .card{
    max-width: 272px;
    min-height: 500px;
}

.card-img-top{
    height: 220px;
    object-fit: cover;
}

.card-tag{
    background-color: var(--background-main-color);
    color: var(--tertiary-color);
    padding: 5px 40px 5px 10px;
    top: 16px;
    font-size: 16px;
    width: 110px;
}

a.card-tag:hover, a.card-tag:focus{
    font-weight: 200;
}

.card-category{
    font-size: 14px;
    font-weight: 600;
}

.card-category span{
    color: var(--secondary-color);
}

.card-title{
    font-family: var(--secondary-font-family);
    font-size: 25px;
    font-weight: 400;
    max-width: 34ch;
    text-overflow: ellipsis;
    --lh: 26px;
    line-height: var(--lh);
    --max-lines: 3;
    overflow: hidden;
    height: calc(var(--lh) * var(--max-lines));
}

.card-filters a{
    font-family: var(--secondary-font-family);
    font-size: 16px;
    color: var(--low-primary-color);
}

.card-effect{
    transition: transform 400ms ease-in-out;
}

.card-effect:focus, .card-effect:hover{
    transform: scale(1.1);
    z-index: 30;
    box-shadow: 0 0 20px rgba(109, 214, 220, 0.5), 0 0 20px rgba(109, 214, 220, 0.2);
}

.card-effect:hover .detail-arrow, .card-effect:focus .detail-arrow, .card:hover .detail-arrow, .card:focus .detail-arrow, .module-card:hover .module-content_button, .module-card:focus .module-content_button{
    animation: beat 1000ms normal ease-in-out infinite both;
}

.format-filter, .time-filter{
    border-right: 1px solid var(--low-primary-color);
}

.card-price{
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 500;
}

.card-price sup{
    font-size: 22px;
}


/*** REASSURANCE ***/

.reassurance{
    padding: 100px 0;
}

.reassurance .container{
    padding: 20px 0;
}

.reassurance-title p{
    text-transform: uppercase;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 600;
}

.reassurance-title h2{
    font-family: var(--secondary-font-family);
    font-size: 56px;
    font-weight: 600;
}

.reassurance-content h3{
    font-family: var(--secondary-font-family);
    font-size: 32px;
    font-weight: 600;
}

.reassurance-content p{
    font-size: 24px;
    font-weight: 500;
}



/*** CATEGORIES ***/

.categories{
    background-color: var(--background-main-color);
    padding: 100px 0;
    font-family: var(--secondary-font-family);
}

.categories .container-fluid{
    padding: 20px 0;
    overflow-x: hidden;
}

.categories_title{
    max-width: 1320px;
    margin: 0 auto;
    /* prévoir breakpoints pour les tailles en-dessous */
}

.categories_title h2{
    color: var(--secondary-color);
    font-size: 65px;
    font-weight: 300;
    font-style: italic;
}

.marquee{
    max-width: 100%;
    mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

.marquee-inner{
    width: max-content;
    gap: 48px;
}

a.categories-cards_card{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 270px;
    text-decoration: none;
    height: 410px;
    transition: transform 300ms ease-in-out 50ms;
}

a.categories-cards_card:hover, a.categories-cards_card:focus{
   transform: scale(1.1);
}

a.categories-cards_card:nth-child(even){
    margin-top: 70px;
}

.categories-cards_card img{
    display: block;
    object-fit: cover;
    max-width: 220px;
    width: 100%;
}

.categories-cards_card h3{
    font-size: 26px;
    font-weight: 400;
}

a.concurrence-card{
    background-color: var(--greyish-bg-color);
    color: var(--tertiary-color);
}

a.digital-card{
    background-color: var(--greyish-bg-color);
    color: var(--tertiary-color);
}

a.property-card{
    background-color: var(--background-highlight-color);
    color: var(--primary-color);
}

a.consumer-card{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

a.heritage-card{
    background-color: var(--yellowish-bg-color);
    color: var(--primary-color);
}

a.corporate-card{
    background-color: var(--bluish-bg-color);
    color: var(--tertiary-color);
}



/*** BLOG ***/

.blog{
    background-color: var(--background-main-color);
    padding: 100px 0;
    font-family: var(--secondary-font-family);
}

.blog_title h2{
    color: var(--secondary-color);
    font-size: 65px;
    font-weight: 300;
}

.blog_title h2 span{
    font-family: var(--primary-font-family);
    font-weight: 500;
}

.blog-cards_first .blog-image{
    overflow: hidden;
    max-height: 385px;
    width: 100%;
}

.blog-image img{
    width: 100%;
    object-fit: cover;
}

.blog-cards_first .blog-image_tag{
    width: 120px;
    height: 120px;
    background-color: var(--background-main-color);
    bottom: 0;
    left: 0;
    font-size: 23px;
    color: var(--tertiary-color);
    font-family: var(--secondary-font-family);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    line-height: 32px;
}

.blog-cards_first .blog-image_tag span{
    font-size: 65px;
}

.blog-cards_first .blog-content{
    min-height: 300px;
}

.blog-content{
    background-color: var(--background-secondary-color);
}

.blog-content_place, .blog-content_time, .blog-content_author{
    font-size: 14px;
}

.blog-content_place img, .blog-content_time img, a.blog-content_category span{
    color: var(--secondary-color);
    font-size: 20px;
    width: 16px;
}

a.blog-content_category{
    font-size: 14px;
    font-weight: 600;
    font-family: var(--primary-font-family);
    text-decoration: none;
    color: var(--primary-color);
}

.blog-content h3 a{
    font-size: 32px;
    text-decoration: none;
    color: var(--primary-color);
}

.card-next .blog-image_tag{
    width: 75px;
    height: 75px;
    background-color: var(--background-main-color);
    bottom: 0;
    left: 0;
    font-size: 14px;
    color: var(--tertiary-color);
    font-family: var(--secondary-font-family);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    line-height: 20px;
}

.card-next .blog-image_tag span{
    font-size: 40px;
}

.card-next h3 a{
    font-size: 22px;
    max-width: 34ch;
    text-overflow: ellipsis;
    --lh: 28px;
    line-height: var(--lh);
    --max-lines: 3;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;   
    text-decoration: none;
    color: var(--primary-color);
}

.card-next h3 a::after{
    content: "...";
}

.card-next .blog-image img{
    max-width: 210px;
    height: 100%;
    object-fit: cover;
}

.blog-cards_first, .card-next{
    background-color: var(--background-secondary-color);
}

.frame-btn.blog-btn{
    font-family: var(--primary-font-family);
}

.blog-content_author a{
    color: var(--secondary-color);
    text-decoration: none;
}

.blog .container{
    margin-bottom: 50px;
}



/*** TESTIMONY ***/

.testimony{
    padding: 100px 0;
    color: var(--primary-color);
}

.testimony .container{
    padding: 20px 0;
}

.testimony .chevron-btn{
    color: var(--primary-color);
}

.testimony-chevrons{
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.testimony-title p{
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.testimony-title h2{
    font-family: var(--secondary-font-family);
    font-size: 56px;
    font-weight: 600;
}

.testimony-content p{
    font-size: 20px;
    font-weight: 500;
}

.testimony-content_author{
    font-family: var(--secondary-font-family);
    font-weight: 400;
}



/* PRODUCT PAGE */

/*#product-page{
    background-color: var(--background-main-color);
}

#product-page header{
    width: 100%;
}

#product-page main{
    background-color: var(--background-main-color);
}*/

.product-hero{
    clear: both;
    background: linear-gradient(180deg, rgba(15, 34, 56, 1), rgba(15, 34, 56, 0.5) 20%),
            linear-gradient(90deg, rgba(15, 34, 56, 1), rgba(15, 34, 56, 0) 68%),
            linear-gradient(360deg, rgba(15, 34, 56, 1), rgba(15, 34, 56, 0.5) 28%),
            url(./img/woman.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.product-hero .container{
    backdrop-filter: blur(3px);
}

.product-hero_title h1{
    font-size: 46px;
    color: var(--secondary-color);
}

.product-hero_title p, .about-content p{
    color: var(--tertiary-color);
    opacity: 0.8;
    font-size: 20px;
}

.product-hero_title p{
    font-family: var(--secondary-font-family);
}

.product-hero_details p a{
    color: var(--tertiary-color);
}

.product-hero_title p span, .product-hero_details p span{
    color: var(--secondary-color);
}

.product-trailer img, .product-trailer iframe{
    width: 80%;
    min-height: 200px;
    object-fit: cover;
    transition: transform 10000ms ease;
    z-index: 10;
}

.product-details_contact, .product-details_contact a{
    color: var(--background-highlight-color);
    font-size: 18px;
}

.product-details_socials a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    width: 30px;
    height: 30px;
    background-color: var(--background-highlight-color);
    border-radius: 50%;
    font-size: 16px;
    margin-right: 10px;
    padding-left: 1px;
}

.product-teasing{
    background-color: var(--background-main-color);
}

.product-teasing .row:first-of-type{
    background-color: var(--background-main-color);
    max-width: 540px;
    margin: 0 auto;
}

.product-teasing h4{
    color: var(--background-highlight-color);
    font-size: 32px;
    font-weight: 400;
    font-family: var(--secondary-font-family);
    padding: 0;
}

.accordion {
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
	--bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	--bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-item{
    background-color: var(--main-bg-color);
}

.product-content_menu .accordion-button{
    background-color: transparent;
    font-size: 32px;
    font-weight: 400;
    line-height: 24px;
    color: var(--tertiary-color);
}

.product-content_menu .accordion-button::after{
    content: none;
}

.product-content_menu .accordion-button:not(.collapsed){
    color: var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
    box-shadow: none !important;
    font-weight: 600;
}

.product-content .accordion{
    padding: 0;
}

.product-content .accordion-body{
    padding: 30px 0px;
}

.product-content .accordion-item{
    border: none;
}

.product-content_presentation, .product-content_objectif, .product-content_pedagogie, #flush-collapseDiffusion li, .product-hero_details p{
    color: var(--tertiary-color);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.product-content_programme{
    letter-spacing: 0.5px;
}

.product-content_presentation ul{
    margin-bottom: 100px;
}

.module-container p{
    color: var(--tertiary-color);
    
}

.module-card{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    padding: 0;
    background-color: var(--background-secondary-color);
    color: var(--primary-color);
    transition: transform 300ms ease-in-out;
}

.module-card:hover, .module-card:focus{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
}

.module-content{
    padding: 30px;
    display: flex;
    align-items: center;
}

#product-page .module-content_title > div{
    font-family: var(--secondary-font-family);
    font-size: 18px;
    padding-bottom: 1rem;
}

.module-content_title h4{
    font-weight: 600;
}

.module-content_title > div span:first-of-type{
    color: var(--secondary-color);
}

.module-content_time img{
    width: 16px;
}

.module-content_header{
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}

.module-content_subtitle{
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
}

.module-content li{
    font-size: 16px;
    font-weight: 400;
}

.key-word{
    background-color: var(--background-secondary-color);
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
}

.scroller{
    overflow-x:auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 48px;
}

.scroller > *{
    scroll-snap-align: center;
}

.scroller > *:not(:last-of-type){
    margin-right: 3rem
}

.scroller::-webkit-scrollbar{
    width: auto;
}

.scroller::-webkit-scrollbar-track{
    background: rgba(250, 250, 250, 0.1);
}

.scroller::-webkit-scrollbar-thumb{
    background: rgba(255, 231, 100, 0.5);
}

.scroller::-webkit-scrollbar-thumb:hover{
    background: rgba(255, 231, 100, 1);
}

.scroller .card img{
    filter:blur(.5px) brightness(.5);
    
    transition: filter 400ms ease-in-out;
}

.scroller .card-effect {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
}

.scroller .card-effect:focus, .scroller .card-effect:hover{
    transform: scale(1.05);
    z-index: 30;
    box-shadow: 0 0 20px rgba(109, 214, 220, 0.3);
}

.scroller .card-effect:focus, .scroller .card-effect:hover{
    transform: scale(1.05);
    z-index: 30;
    box-shadow: 0 0 20px rgba(109, 214, 220, 0.3);
}

.scroller .card-effect:focus img, .scroller .card-effect:hover img{
    filter: blur(0px) brightness(1);
}

.pack-link{
    font-size: 24px;
    font-weight: 400;
}

.pack-link a{
    color: var(--secondary-color);
    font-size: 26px;
    font-family: var(--secondary-font-family);
    font-style: italic;
    font-weight: 200;
}

.pack-link:hover svg, .pack-link:focus svg{
    animation: horizontal-bounce 1000ms cubic-bezier(.28,.84,.42,1) infinite;
}

.pack-link a svg{
    width: 20px;
    margin-left: 10px;
}

.dropdown-toggle{
    background-color: var(--background-main-color);
    border-color: var(--background-main-color);
}

.dropdown-toggle.btn{
    border: none;
    border-radius: 0;
    padding-inline: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-toggle.btn:hover, .dropdown-toggle.btn:focus, .dropdown-toggle.btn:active, .dropdown-toggle.btn:focus-visible{
    background-color: rgba(109, 214, 220, 0.5);  
}

.dropdown-toggle::after{
    border-top: .4em solid var(--secondary-color);
    border-right: 0.4em solid transparent;
    border-bottom: 0;
    border-left: .4em solid transparent
}

.dropdown-toggle.show{
    background-color: rgba(109, 214, 220, 0.5);
    border: none;
    border-radius: 0;
}

.dropdown-toggle.show::after{
    border-top: 0;
    border-right: .4em solid transparent;
    border-bottom: .4em solid var(--secondary-color);
    border-left: .4em solid transparent;
}

.btn-group.product-content_menu{
    width: 100%;
}

.btn-group.product-content_menu .dropdown-menu{
    width: 100%;
    background-color: rgba(15, 34, 56, 0.95);
    padding: 1.5rem;
    border-radius: 0;
    
    border: none;
    box-shadow: inset 0 0 20px rgba(109, 214, 220, 0.5), 0 0 20px rgba(109, 214, 220, 0.2);
    outline-color: rgba(109, 214, 220, 0);
    outline-offset: 15px;
}

#flush-collapseDiffusion li{
    margin-bottom: 1.5rem;
}

.diffusion-btn{
    font-size: 24px;
}   

.diffusion-btn.collapsed{
    background-color: rgb(109, 214, 220, 0.2);
    /*color: var(--background-highlight-color);*/
    color: var(--tertiary-color);
    font-weight: 400;
}

.diffusion-btn:not(.collapsed){
    background-color: transparent;
    color: var(--tertiary-color);
    font-weight: 600;
    font-size: 26px;
    box-shadow: 0 0 0 .25rem rgba(109, 214, 220, .25);
}

.diffusion-btn:focus{
    border: none;
    box-shadow: 0 0 0 .25rem rgba(109, 214, 220, .25);
}

.devis-btn.frame-btn{
    font-size: 14px;
    display: block;
    text-align: center;
    padding: 10px 30px;
    color: var(--primary-color);
    background-color: var(--background-highlight-color);
    border-color: var(--background-highlight-color);
    box-shadow: inset 0 0 20px rgba(255, 231, 100, 0);
    outline-color: rgba(255, 231, 100, 0.5);
}

.devis-btn.frame-btn:hover, .devis-btn.frame-btn:focus {
    box-shadow: inset 0 0 20px rgba(255, 231, 100, 0.5), 0 0 20px rgba(255, 231, 100, 0.2);
    outline-color: rgba(255, 231, 100, 0);
}


/* ABOUT PAGE */

.about-content h1{
    font-size: 56px;
    color: var(--secondary-color);
}

.about-content p, .about-content ul{
    color: var(--tertiary-color);
    font-size: 16px;
    margin-bottom: 1.5rem;
}

.about-content ul{
    font-weight: 600;
    padding: 3rem;
}

#about-page main{
    clear: both;
    background: linear-gradient(180deg, rgba(15, 34, 56, 1), rgba(15, 34, 56, 0.5) 20%),
            linear-gradient(90deg, rgba(15, 34, 56, 1), rgba(15, 34, 56, 0) 68%),
            linear-gradient(360deg, rgba(15, 34, 56, 1), rgba(15, 34, 56, 0.5) 28%),
            url(./img/woman.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70svh;
    min-height: 70vh;
}

#about-page main .container{
    backdrop-filter: blur(3px);
    padding-top: 100px;
}


/* CATALOG PAGE */

#catalog-page .card{
    margin-bottom: 1.5rem;
}

#catalog-page .product-hero_title p{
    color: var(--tertiary-color);
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    font-family: var(--secondary-font-family);
}

.filter-menu{
    color: var(--secondary-color);
}

.dropdown-menu.show{
    transform: translate3d(0px, 54px, 0px) !important;
}

.filter-menu-dropdown span{
    text-wrap: nowrap;
    padding-right: 20px;
}

.filter-menu-dropdown .dropdown-menu{
    width: 100%;
    background-color: rgba(15, 34, 56, 0.95);
    padding: 10px 20px;
    border-radius: 0;
    border: none;
    box-shadow: inset 0 0 20px rgba(109, 214, 220, 0.5), 0 0 20px rgba(109, 214, 220, 0.2);
    outline-color: rgba(109, 214, 220, 0);
    outline-offset: 15px;
}

.filter-menu-dropdown .dropdown-menu .dropdown-item{
    color: var(--background-highlight-color);
    font-size: 20px;
}

.filter-menu-dropdown .dropdown-menu .dropdown-item:hover, .filter-menu-dropdown .dropdown-menu .dropdown-item:focus, .filter-menu-dropdown .dropdown-menu .dropdown-item:active, .filter-menu-dropdown .dropdown-menu .dropdown-item:focus-visible{
    background-color: rgba(109, 214, 220, 0.5);
    color: var(--secondary-color);
}

.filter-menu-dropdown .dropdown-toggle.frame-btn.show{
    border: 1px solid transparent;
}

.filter-menu-dropdown .dropdown-toggle.frame-btn{
    padding: 10px 20px;
}

.filter-column, .filter-menu{
    background-color: var(--background-main-color);
}

.filter-column .accordion, .filter-menu .accordion{
    background-color: var(--background-main-color);
    border-color: transparent;
}

.filter-column .accordion-item, .filter-menu .accordion-item{
    border: none;
}

.filter-column .accordion-button, .filter-menu .accordion-button{
    background-color: transparent;
    font-size: 28px;
    font-weight: 600;
    line-height: 24px;
    color: var(--tertiary-color);
}

.filter-column .accordion-button::after, .filter-menu .accordion-button::after{
    content: none;
}

.filter-column .accordion-button:not(.collapsed), .filter-menu .accordion-button:not(.collapsed){
    color: var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
    box-shadow: none !important;
}

.filter-column .dropdown-item, .filter-menu .dropdown-item{
    color: white;
}

#catalog-page .form-check-input{
    --bs-form-check-bg-image-fidal: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3e%3cpath fill='%23ffe764' stroke='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M181.3 32.4c17.4 2.9 29.2 19.4 26.3 36.8L197.8 128h95.1l11.5-69.3c2.9-17.4 19.4-29.2 36.8-26.3s29.2 19.4 26.3 36.8L357.8 128H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H347.1L325.8 320H384c17.7 0 32 14.3 32 32s-14.3 32-32 32H315.1l-11.5 69.3c-2.9 17.4-19.4 29.2-36.8 26.3s-29.2-19.4-26.3-36.8l9.8-58.7H155.1l-11.5 69.3c-2.9 17.4-19.4 29.2-36.8 26.3s-29.2-19.4-26.3-36.8L90.2 384H32c-17.7 0-32-14.3-32-32s14.3-32 32-32h68.9l21.3-128H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h68.9l11.5-69.3c2.9-17.4 19.4-29.2 36.8-26.3zM187.1 192L165.8 320h95.1l21.3-128H187.1z'/%3e%3c/svg%3e");
    background-color: white;
}  

#catalog-page .form-check-input:checked[type=checkbox]{
    background-image: var(--bs-form-check-bg-image-fidal);
    background-color: var(--background-main-color);
    border: none;
}

.filter-column .form-check-input:checked[type=checkbox], .filter-menu .form-check-input:checked[type=checkbox]{
    background-image: var(--bs-form-check-bg-image-fidal) !important;
}

.form-check-label{
    text-wrap: wrap;
}

.filter-column .dropdown-toggle-split::after, .accordion-button, .filter-menu .dropdown-toggle-split::after, .accordion-button{
    border-bottom: 3px transparent solid;
}

.filter-column .dropdown-toggle-split:not(.collapsed)::after, .filter-menu .dropdown-toggle-split:not(.collapsed)::after{
    border-top: 0;
    border-right: .4em solid transparent;
    border-bottom: .4em solid var(--secondary-color);
    border-left: .4em solid transparent;
}

.filter-column .dropdown-toggle-split::after, .filter-menu .dropdown-toggle-split::after{
    border-top: .4em solid var(--tertiary-color);
}

.product-teasing .pagination .page-link{
    background-color: transparent;
    border: none;
    color: white;
}

.product-teasing .pagination .page-link.active{
    background-color: transparent;
    border: none;
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 600;
}

.product-teasing .pagination .page-link.disabled{
    opacity: .5;
}

.card-filters p{
    font-size: 16px;
}

small{
    font-size: 14px;
    text-align: end;
}

.product-hero_title p{
    max-width: 1000px;
}

#offcanvasFilters{
    background-color: var(--background-main-color);
}

#offcanvasFiltersLabel{
    color: var(--secondary-color);
}

#offcanvasFilters .btn-close{
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236dd6dc'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

/*PACK-PAGE*/

#pack-page .row.module-content{
    margin-inline: 0;
}

#pack-page .module-content_title .h4{
    font-weight: 600;
}

.module-content_button{
    background-color: var(--background-highlight-color);
    bottom: 0;
    right: 0;
    height: 40px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}


/* MEDIA QUERIES */

@media screen and (max-width: 389px) {
    .navbar-brand img{
        max-width: 150px;
    }

    .hero h1{
        font-size: 42px;
    }

    .hero h2{
        font-size: 28px;
    }

    a.nav-link, .navbar-nav .nav-link.active{
        font-size: 28px;
    }

    .header-band .row{
        flex-direction: column;
    }

    .header-band .row .col-3, .header-band .row .col-9{
        display: flex;
        width: 100% !important;
        justify-content: center !important;
        margin: 10px auto;
        padding: 0 !important;
    }

    .product-hero_title h1{
        font-size: 36px;
    }
}

@media screen and (min-width: 576px){
    .product-trailer img, .product-trailer iframe{
        width: 100%;
        min-height: 338px;
    }
}

@media screen and (min-width: 768px) {
    .product-teasing .row:first-of-type{
        max-width: 720px;
    }

    #catalog-page .card{
        flex-basis: 49%;
    }
    
    .devis-btn.frame-btn {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .hero h1{
        font-size: 60px;
    }

    .hero h2{
        font-size: 36px;
    }

    .hero p{
        font-size: 16px;
    }

    #home-page header{
        background: linear-gradient(180deg, rgba(15, 34, 56, 1), rgba(15, 34, 56, 0.5) 22%),
            linear-gradient(90deg, rgba(15, 34, 56, 1), rgba(15, 34, 56, 0.5) 68%),
            linear-gradient(360deg, rgba(15, 34, 56, 1), rgba(15, 34, 56, 0.5) 28%), 
            url(./img/architecture-bg.png);
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 100vh;
        min-height: 100svh;
    }

    .navbar-collapse{
        margin-top: 1rem;
        background-color: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 22%),
        linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 68%),
        linear-gradient(360deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 28%);
        padding: 2rem;
        width: 100%;
    }

    .navbar-collapse a, .navbar-nav .nav-link.active{
        font-size: 36px;
    }

    .header-band a{
        font-size: 14px;
    }

    .learning-cards{
        padding: 0;
    }
    
    .learning-cards .container{
        padding: 20px 0;
    }

    .learning-cards_title{
        font-size: 50px;
    }

    .learning-cards .card{
        min-height: auto;
    }

    .card-img-top{
        height: 150px;
        object-fit: cover;
    }

    .card-title{
        font-size: 20px;
        --lh: 22px;
        line-height: var(--lh);
        --max-lines: 3;
        overflow: hidden;
        height: calc(var(--lh) * var(--max-lines));
    }
    
    .card-filters a{
        font-size: 14px;
    }

    .format-filter, .time-filter{
        border-right: 0px solid transparent;
    }

    .categories{
        padding: 30px 0;
    }

    .categories_title h2{
        font-size: 50px;
    }

    .blog{
        padding: 30px 0;
    }
    
    .blog_title h2{
        font-size: 50px;
    }

    .blog-content_author p:nth-child(2){
        max-width: 25ch;
    }
}

@media screen and (min-width: 992px) {

    .reassurance-content .col-lg-4:not(:last-of-type){
        border-right: 2px solid #dce1e4;
    }

    .card-next{
        max-height: 212px;
    }

    .product-hero_title h1{
        font-size: 52px;
    }

    .product-teasing .row:first-of-type{
        max-width: 960px;
    }

    .about-content p, .about-content ul{
        font-size: 20px;
    }

    .format-filter, .time-filter{
        border-right: 0px solid transparent;
    }
}

@media screen and (min-width: 1200px) {
    .product-teasing .row:first-of-type{
        max-width: 1140px;
    }

    #about-page main{
        min-height: 90svh;
        min-height: 90vh;
    }

    #product-page .module-card{
        max-width: 48%;
    }

    .format-filter, .time-filter{
        border-right: 1px solid var(--low-primary-color);
    }
}

@media screen and (min-width: 1400px) {
    .product-teasing .row:first-of-type{
        max-width: 1320px;
    }
}